.search {
	border-radius: 10px;
	background-color: rgb(18, 18, 58);
	color: azure;
	display: flex;
	/* flex-direction: column; */
	justify-content: space-between;
	align-items: center;
	margin: 10%;
	padding: 0%;
	box-sizing: border-box;
	width: 50%;
	height: 20mm;


}

.search:hover {
	background-color: rgb(18, 18, 58);
}

.search:focus {
	background-color: rgb(18, 18, 58);
}